.sort {
    background-color: light gray;
    color: black;
}

.active {
    background-color: gray;
    color: white;
}

.completed {
    color: green;
}

.incomplete {
    color: red;
}

.partial {
    color: orange;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#logo {
    height: 200px;
    width: 250px;
    margin: 20px;
    border-radius: 50%;
}

form {
    margin: auto;
    padding: 40px;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 5px;
}
  
#login {
    display: block;
    text-align: center;
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 40px;
    padding-bottom: 20px;
    font-family:monospace;
}
  
input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 20px;
    font-family:monospace;
    font-size: 25px;
}

button[type="submit"] {
    display: block;
    margin: auto;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    font-family:monospace;
    font-size: 25px;
}

button[type="submit"]:hover {
    background-color: #45a049;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #f2f2f2;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.tasks-container {
    margin-top: 150px;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

#logout {
    background-color: red;
    color: white;
}

#logout:hover {
    background-color: rgb(209, 0, 0);
}

.menu_button {
    font-weight: bold;
    font-size: 20px;
    border-radius: 4px;
    font-family: monospace;
}

.menu_button:hover {
    background-color: gray;
}

.box {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.box h2 {
    font-size: 25px;
    margin-top: 0;
    font-family: monospace;
}

.box p {
    font-size: 18px;
    margin: 10px 0;
}

#user_title {
    font-family: monospace;
    font-size: 30px;
}

.edit {
    font-family: monospace;
    border-radius: 4px;
    font-weight: bold;
    font-size: 20px;
}

.edit:hover {
    background-color: gray;
}

.font {
    font-family: monospace;
    font-weight: bold;
}

.font span:first-child {
    font-weight: normal;
}

p.font span.completed,
p.font span.partial,
p.font span.incomplete {
    font-weight: bold;
}

#add {
    background-color: rgb(1, 180, 1);
    color: white;
}

#add:hover{
    background-color: green;
}

.label_title {
    display: block;
    text-align: center;
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 30px;
    padding-bottom: 10px;
    font-family:monospace;
}

#heading {
    font-family:monospace;
    font-size: 40px;
    color: #45a049;
}

.small {
    font-family:monospace;
    font-weight: bold;
    font-size: 25px;
}

#hbox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

#length {
    width: 35%;
}

.input_box {
    border-radius: 4px;
    font-family:monospace;
    font-size: 20px;
}