{% extends 'base.html' %}

{% block head %}
<title>Task Manager</title>

{% endblock %}

{% block body %}

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <script>
      alert("{{ messages[0] }}");
    </script>
  {% endif %}
{% endwith %}

<h1>{{session['username']}}'s Tasks</h1>
<a href="{{ url_for('logout') }}"><button>Logout</button></a>
<a href="{{ url_for('add_tasks') }}"><button>Add Task</button></a>
<a href="{{ url_for('sort', sort='title') }}"><button class="{% if sort  == 'title' %} active {% endif %}">Sort by Title</button></a>
<a href="{{ url_for('sort', sort='status') }}"><button class="{% if sort == 'status' %} active {% endif %}">Sort by Status</button></a>
<a href="{{ url_for('sort', sort='due_date') }}"><button class="{% if sort == 'due_date' %} active{% endif %}">Sort by Due Date</button></a>

{% for task in tasks %}
<div>
    <h2>{{ task[2] }}</h2>
    <p>Description: {{ task[3] }}</p>
    <p>Status: 
        <span 
            class=
                "{% if task[4]  == 'Completed' %} 
                    completed
                {% elif task[4] == 'In Progress' %}
                    partial
                {% else %}
                    incomplete
                {% endif %}">{{ task[4] }}
        </span></p>
    <p>Due Date: {{ task[5] }}</p>
    <button type="button">Edit</button>
    <a href="{{ url_for('delete', task_id=task[0]) }}" onclick="return confirm('Are you sure you want to delete this task?')"><button type="button">Delete</button></a>
</div>
{% endfor %}
{% endblock %}